!!!5
html(lang='en')
head
	title= title
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Pacifico%7CRaleway:900,500')
	link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
	link(rel='stylesheet', href='/assets/css/main.css')