nav.small
	a(href='/') 
		i.icon-home
		p Home
	a(href='http://linkedin.com/in/jeremyfreehill', target='_new')
		i.icon-doc-text
		p Resume
	a(href='/contact')
		i.icon-mail
		p Contact
	a(href='/lab')
		i.icon-beaker
		p Experiments
	if entry
		a(href='/portfolio')
			i.icon-picture
			p portfolio