nav.small
	a(href='#{url}').nav-home
		i.icon-home
		p Home
	a(href='#{url}/downloads/Jeremy-Freehill-Resume-Online0216.pdf', target='_blank').nav-resume
		i.icon-doc-text
		p Resume
	a(href='http://linkedin.com/in/jeremyfreehill', target="_blank").nav-contact
		i.icon-mail
		p Contact
	//- a(href='/lab')
	//- 	i.icon-beaker
	//- 	p Experiments
	a(href='#{url}/about').nav-about
		i.icon-info-circled
		p About
	a(href='#{url}/portfolio').nav-portfolio
		i.icon-picture
		p portfolio