extends layout
	
block content
	section
		h2= title
		section.content
			nav
				a(href='/portfolio')
					| Portfolio 
					i.icon-picture
				a(href='http://linkedin.com/in/jeremyfreehill', target='_new')
					| Resume 
					i.icon-doc-text
				a(href='/contact')
					| Contact
					i.icon-mail
				a(href='/about')
					| About
					i.icon-info-circled
				//- a(href='/lab')
				//- 	| Experiments 
				//- 	i.icon-beaker
			div.content-cap
			p.legal &copy;2013 Jeremy Freehill