extends layout
	
block content
	section.wrap
		h2= title
		section.content
			nav
				a(href='/portfolio')
					| Portfolio 
					i.icon-picture
				a(href='http://linkedin.com/in/jeremyfreehill', target='_new')
					| Resume 
					i.icon-doc-text
				a(href='/contact')
					| Contact
					i.icon-mail
				a(href='/lab')
					| Experiments 
					i.icon-beaker