<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>Jeremy Freehill | Portfolio</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico%7CRaleway:900,500" />
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="experiments">
    <header>
    	<h1>JEREMY FREEHILL</h1>
    </header>
	<section class="wrap">
	    <nav class="small">
    		<a href="index.htm"><i class="icon-home"></i><p>Home</p></a>
    		<a href="portfolio.htm"><i class="icon-picture"></i><p>Portfolio</p></a>
    		<a href="http://www.linkedin.com/pub/jeremy-freehill/30/846/904" target="_new"><i class="icon-doc-text"></i><p>Resume</p></a>
    		<a href="#contact"><i class="icon-mail"></i><p>Contact</p></a>
	    </nav>
	    <a class="open-menu" href="#"><i class="icon-menu"></i></a>
	    <h2><i class="icon-beaker"></i>Experiments</h2>
	    <p class="disclaimer"><strong>Note:</strong> The pages listed below are experimental or prototypal and therefore not guaranteed 
	    	to work in any particular browser. That said, I mostly work in Chrome, so try that one first.</p>
	    <section class="content">
	    	<section class="entries">
	    		<!-- entries added via JS template and JSON -->
	    	</section>
	    </section>
	</section>
	<footer>
	</footer>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-43034937-1', 'freehill.me');
		ga('send', 'pageview');
	</script>
	<script type="text/javascript" src="assets/js/lib/zepto.min.js"></script>
	<script type="text/javascript" src="assets/js/doT.min.js"></script>
	<script type="text/javascript" src="assets/js/behavior.js"></script>
</body>
</html>