// Portfolio Single Entry Page

.single-entry {
	.wrap {
		max-width: 780px;
		padding-top: 70px;
	}
	.content {
		overflow: auto;
	}
	.entry-nav {
		left: auto;
		right: 0;
	}
	.next {
		margin-right: 0;
	}
	.client,
	.project,
	h3 {
		color: rgb(59, 47, 88);
		text-align: left;
		text-transform: uppercase;
		font-size: 2em;
	}
	.project {
		font-family: "Raleway";
		font-weight: 400;
		font-size: 1.5em;
		margin-bottom: 1.125em;
	}
	.left {
		width: 38%;
		float: left;
		margin-right: 2%;
	}
	.right {
		float: right;
		width: 60%;
		img {
			border-radius: 3px;
			border: 5px solid rgba(7, 94, 144, 0.9);
		}
	}
	h3 { 
		color: rgb(7, 94, 144);
		font-size: 1.25em;
		text-transform: uppercase; 
		font-weight: 900;
		margin-bottom: .5em;
		margin-top: 0; }
	.features {
		margin: .5em 0 2em 0;
		padding-left: 0;
		li {
			font-size: 1.125em;
			list-style-position: inside;
			list-style-type: square;
			margin-bottom: .125em;
		}
	}
	.see-it {
		font: 1.5em/1.25em 'Raleway', sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		color: white;
		background: #05667b url("../img/bg-diag-right.png") no-repeat;
		background-position: 200px center;
		border-radius: 3px;
		padding: .25em 40px .25em 25px;
		width: 185px;
		text-align: left; 
		display: block;
		position: relative;
		transition: background-color .6s, background-position .3s;
		i {
			position: absolute;
			right: 15px;
		}
		&:hover {
			color: white;
			text-decoration: none;
			background-color: #3c057b;
			background-position: left center;
			transition: background-color .6s, background-position .3s;
		}
		i {
			font-size: .8em;
			margin-left: 10px;
		}
	}
	@media (max-width: 640px) {
		.open-menu {
			margin-left: 5%;
		}
		.wrap {
			padding-top: 0;
			position: relative;
		}
		.content {
			padding: 2.5em 0;
			margin-top: 65px;
		}
		.entry-nav {
			top: 214px;
			right: 5%;
			width: auto;
		}
		.project {
			padding-top: .25em;
			margin-bottom: 1em;
		}
		.right,
		.left {
			float: none;
			width: 90%;
			margin: 0 auto;
		}
		.right {
			margin-bottom: 2em;
		}
		.see-it {
			font-size: 1.75em;
			width: 100%;
			padding-top: .75em;
			padding-bottom: .75em;
			background-position: 500px center;
		}
		.legal {
			margin-left: 5%;
		}
	}
}