@import url(http://fonts.googleapis.com/css?family=Pacifico|Raleway:900,500);
/* ===========================
 * Portfolio Site Styles
 * Author: Jeremy Freehill
 * Version: 0.1
 * Note: Compiles from LESS
 *============================= */
/* apply a natural box layout model to all elements
   reco by Paul Irish: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #eaf385;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}
/* Fontello */
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?10023086');
  src: url('../font/fontello.eot?10023086#iefix') format('embedded-opentype'), url('../font/fontello.woff?10023086') format('woff'), url('../font/fontello.ttf?10023086') format('truetype'), url('../font/fontello.svg?10023086#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */

  /* font-size: 120%; */

}
.icon-home:before {
  content: '\e81a';
}
.icon-note:before {
  content: '\e804';
}
.icon-note-beamed:before {
  content: '\e805';
}
.icon-mail:before {
  content: '\e814';
}
.icon-cancel:before {
  content: '\e81b';
}
.icon-link-1:before {
  content: '\e812';
}
.icon-help-circled:before {
  content: '\e80f';
}
.icon-info-circled:before {
  content: '\e80e';
}
.icon-code:before {
  content: '\e815';
}
.icon-location:before {
  content: '\e819';
}
.icon-article:before {
  content: '\e818';
}
.icon-facebook:before {
  content: '\e807';
}
.icon-beaker:before {
  content: '\e80c';
}
.icon-menu:before {
  content: '\e81c';
}
.icon-gplus-squared:before {
  content: '\e80b';
}
.icon-doc-text:before {
  content: '\e817';
}
.icon-code-1:before {
  content: '\e816';
}
.icon-angle-circled-left:before {
  content: '\e801';
}
.icon-angle-circled-right:before {
  content: '\e800';
}
.icon-angle-circled-up:before {
  content: '\e803';
}
.icon-angle-circled-down:before {
  content: '\e802';
}
.icon-link-ext-alt:before {
  content: '\e811';
}
.icon-github-squared:before {
  content: '\e80a';
}
.icon-facebook-squared:before {
  content: '\e808';
}
.icon-linkedin-squared:before {
  content: '\e809';
}
.icon-picture:before {
  content: '\e806';
}
.icon-book-open:before {
  content: '\e80d';
}
.icon-link:before {
  content: '\e810';
}
.icon-link-2:before {
  content: '\e813';
}
h1 {
  font: 3.75em 'Raleway', sans-serif;
  font-weight: 900;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 0.95em;
}
h2 {
  font: 3em/1.125em 'Pacifico', cursive;
  color: #1e4849;
  text-align: center;
  margin-bottom: 25px;
}
.content {
  padding: 24px 0;
  border-width: 8px 0;
  margin: 0 auto 50px auto;
  -webkit-border-image: url("../img/bg-pattern-01.png") 8 0 8 0 repeat;
  border-image: url("../img/bg-pattern-01.png") 8 0 8 0 repeat;
}
header {
  background: #071158 url('../img/bg-header-full.jpg') center bottom no-repeat;
  height: 170px;
  border-bottom: 9px solid white;
  margin-bottom: 22px;
  position: relative;
  overflow: hidden;
}
header h1 {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-shadow: 0 0 10px #071158;
}
nav {
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav a {
  font: 1.875em/1.75em 'Raleway', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  background: #05667b url("../img/bg-diag-right.png") no-repeat;
  background-position: 400px center;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  transition: background-color 0.2s, background-position 0.3s;
  overflow: visible;
}
nav a:hover {
  color: white;
  text-decoration: none;
  background-color: #3c057b;
  background-position: left center;
  transition: background-color 0.6s, background-position 0.3s;
}
nav a:hover p {
  display: block;
  bottom: -51px;
  opacity: 1;
  transition: all 0.6s;
}
nav a p {
  position: absolute;
  text-align: center;
  background-color: rgba(11, 19, 121, 0.75);
  bottom: -66px;
  left: 00px;
  font: 18px "Raleway";
  opacity: 0;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 0 3px 3px 3px;
  display: none;
  transition: all 0.5s;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}
nav a p:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid rgba(11, 19, 121, 0.75);
}
.open-menu {
  display: none;
  position: absolute;
  background-color: #05667b;
  border-radius: 0 0 3px 3px;
  margin-left: 2%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
  font-size: 2em;
  float: left;
}
.open-menu:hover {
  color: white;
}
.wrap {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.entries {
  text-align: center;
}
.entry {
  width: 275px;
  height: 200px;
  border-radius: 5px;
  /* below seems to fix a strange rendering bug in Chrome with 
	background clipping on elements with a border radius */

  border: 1px solid transparent;
  position: relative;
  transition: all 0.2s;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: top;
  z-index: 3;
}
.entry img {
  min-height: 100%;
}
.entry section,
.entry a {
  transition: all 0.1s;
  color: white;
  cursor: pointer;
  width: 0;
  height: 0;
}
.entry section i,
.entry a i {
  position: absolute;
}
.entry a {
  position: absolute;
  bottom: -80px;
  right: -80px;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-right: 78px solid rgba(11, 19, 121, 0.75);
  z-index: 2;
}
.entry a i {
  font-size: 26px;
  top: -1.5em;
  right: -2.75em;
}
.entry .info-button {
  top: -80px;
  left: -88px;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-left: 88px solid rgba(11, 73, 121, 0.8);
  position: absolute;
  z-index: 2;
}
.entry .info-button i {
  font-size: 30px;
  bottom: -40px;
  left: -84px;
}
.entry .info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 80px;
  padding-left: 12px;
  padding-right: 20px;
  z-index: 1;
}
.entry .info h1,
.entry .info h2 {
  font: 1.125em 'Raleway', sans-serif;
  color: white;
  text-align: left;
  text-transform: uppercase;
}
.entry .info h1 {
  font-weight: 900;
  line-height: 1.125em;
}
.entry .info h2 {
  font-size: 1em;
  font-weight: 500;
  margin-top: 3px;
}
.entry .info.active {
  top: -100%;
}
.entry:nth-child(3n) {
  margin-right: 0;
}
.entry:hover .info-button {
  left: 0;
}
.entry:hover a {
  right: 0px;
}
.line-1 {
  height: 40px;
  width: 500px;
  background-color: #0c074b;
  opacity: .4;
  position: absolute;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  left: -5%;
}
.line-2 {
  height: 100px;
  width: 500px;
  background-color: #075e90;
  opacity: .4;
  position: absolute;
  -webkit-transform: rotate(41deg);
  -moz-transform: rotate(41deg);
  -ms-transform: rotate(41deg);
  transform: rotate(41deg);
  right: 25%;
}
.line-3 {
  height: 60px;
  width: 100%;
  background-color: #0f5852;
  opacity: .4;
  position: absolute;
  -webkit-transform: rotate(41deg);
  -moz-transform: rotate(41deg);
  -ms-transform: rotate(41deg);
  transform: rotate(41deg);
  right: -15%;
}
.line-4 {
  height: 40px;
  width: 100%;
  background-color: #0c074b;
  opacity: .4;
  position: absolute;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  left: 10%;
}
.line-5 {
  height: 100px;
  width: 500px;
  background-color: #0f5852;
  opacity: .4;
  position: absolute;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  left: 5%;
}
.home .content {
  width: 450px;
}
.home h2 {
  font-size: 2.25em;
}
.home nav {
  position: relative;
  left: 0;
  width: 80%;
}
.home nav a {
  display: block;
  margin-bottom: 14px;
  padding: 0 0 0 25px;
  text-align: left;
  overflow: hidden;
}
.home nav a i {
  position: absolute;
  right: -50px;
  transition: right .2s;
}
.home nav a:hover i {
  right: 15px;
  transition: right .1s;
}
.home nav a:last-child {
  margin-bottom: 0;
}
.portfolio .wrap {
  max-width: 908px;
}
.color-1 {
  background-color: rgba(11, 73, 121, 0.8);
}
.color-2 {
  background-color: rgba(7, 94, 144, 0.9);
}
.color-3 {
  background-color: rgba(12, 7, 75, 0.8);
}
.color-4 {
  background-color: rgba(15, 88, 82, 0.8);
}
@media (max-width: 987px) {
  body {
    font-size: 14px;
  }
  h2 i {
    display: none;
  }
  .entry {
    margin-right: 20px;
    height: 150px;
  }
  .entry .info {
    padding-top: 60px;
  }
  .entry .info-button {
    display: none;
  }
  .entry a {
    right: 0;
  }
  .entry:nth-child(3n) {
    margin-right: 20px;
  }
  .entry:nth-child(2n) {
    margin-right: 0;
  }
  .wrap {
    width: 80%;
  }
}
@media (max-width: 737px) {
  body {
    font-size: 12px;
  }
  .entry {
    width: 45%;
    height: 100px;
  }
  .entry .info {
    padding-top: 30px;
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.5em;
    margin-top: .75em;
    margin-bottom: .75em;
  }
  header {
    margin-bottom: 0;
    height: 120px;
  }
  .wrap {
    width: 100%;
  }
  .entry {
    width: 95%;
    height: 72px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .entry .info {
    padding-top: 20px;
  }
  .entry img {
    width: 100%;
  }
  .entry:nth-child(3n) {
    margin-right: 0;
  }
  .content {
    padding: 1.5em 0;
  }
  .open-menu {
    display: inline-block;
  }
  nav.small {
    position: relative;
    overflow: hidden;
    height: 0;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }
  nav.small.open {
    height: 200px;
  }
  nav.small a {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-image: none;
  }
  nav.small a p {
    opacity: 1;
    display: inline-block;
    position: relative;
    bottom: 0;
    border: none;
    box-shadow: none;
    background: none;
  }
  nav.small a p:before {
    display: none;
  }
  .home h2 {
    font-size: 26px;
  }
  .home nav {
    width: 95%;
  }
  .home nav a {
    height: 40px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  nav {
    width: 100%;
  }
  .home .content {
    width: 100%;
  }
}
